################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs
*.cmake
*.txt
*.check_cache
*.xml
*.iml
cmake-build-debug/
*.ninja
*.yaml
CMakeLists.txt
CMakeLists.txt
